In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("data.xlsx", names=['Индекс ВМО', 'Год', 'Месяц', 'День', 'Минимиальная температура воздуха', 'Средняя температура воздуха', 'Максимальная температура воздуха', 'Количество осадков'])

In [3]:
df.head()

,Индекс ВМО,Год,Месяц,День,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков
0,29838,1959,1,2,-33.1,-30.0,-26.2,0.0
1,29838,1959,1,3,-28.8,-23.2,-18.4,0.0
2,29838,1959,1,4,-25.6,-22.8,-18.8,0.0
3,29838,1959,1,5,-23.0,-18.4,-13.0,1.3
4,29838,1959,1,6,-30.6,-28.4,-18.0,0.4

In [4]:
df['Дата'] = df['Год'].astype(str) + df['Месяц'].astype(str) + df['День'].astype(str)

df['Дата'] = pd.to_datetime(df['Дата'], format='%Y%m%d')

In [5]:
df = df.set_index(df['Дата'])

df.head()

,Индекс ВМО,Год,Месяц,День,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата
Дата,,,,,,,,,
1959-01-02,29838,1959,1,2,-33.1,-30.0,-26.2,0.0,1959-01-02
1959-01-03,29838,1959,1,3,-28.8,-23.2,-18.4,0.0,1959-01-03
1959-01-04,29838,1959,1,4,-25.6,-22.8,-18.8,0.0,1959-01-04
1959-01-05,29838,1959,1,5,-23.0,-18.4,-13.0,1.3,1959-01-05
1959-01-06,29838,1959,1,6,-30.6,-28.4,-18.0,0.4,1959-01-06

In [6]:
df = df.drop('Индекс ВМО', axis=1)

df.head()

,Год,Месяц,День,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата
Дата,,,,,,,,
1959-01-02,1959,1,2,-33.1,-30.0,-26.2,0.0,1959-01-02
1959-01-03,1959,1,3,-28.8,-23.2,-18.4,0.0,1959-01-03
1959-01-04,1959,1,4,-25.6,-22.8,-18.8,0.0,1959-01-04
1959-01-05,1959,1,5,-23.0,-18.4,-13.0,1.3,1959-01-05
1959-01-06,1959,1,6,-30.6,-28.4,-18.0,0.4,1959-01-06

In [7]:
print('Date lost =' + str(pd.isnull(df['Дата']).sum()))
print('Min lost =' + str(pd.isnull(df['Минимиальная температура воздуха']).sum()))
print('Mean lost =' + str(pd.isnull(df['Средняя температура воздуха']).sum()))
print('Max lost =' + str(pd.isnull(df['Максимальная температура воздуха']).sum()))
print('Value lost =' + str(pd.isnull(df['Количество осадков']).sum()))

Date lost =0
Min lost =24
Mean lost =24
Max lost =25
Value lost =571

In [8]:
for year in range(1959, 2017):
    if df[df.index.year == year].isnull().sum().sum() > 0:
        print(year, df[df.index.year == year].isnull().sum().sum())

1960 206
1961 334
1963 2
1965 96
1970 1
1972 4
1973 1

In [9]:
df

,Год,Месяц,День,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата
Дата,,,,,,,,
1959-01-02,1959,1,2,-33.1,-30.0,-26.2,0.0,1959-01-02
1959-01-03,1959,1,3,-28.8,-23.2,-18.4,0.0,1959-01-03
1959-01-04,1959,1,4,-25.6,-22.8,-18.8,0.0,1959-01-04
1959-01-05,1959,1,5,-23.0,-18.4,-13.0,1.3,1959-01-05
1959-01-06,1959,1,6,-30.6,-28.4,-18.0,0.4,1959-01-06
...,...,...,...,...,...,...,...,...
2017-12-27,2017,12,27,-4.7,-2.4,0.9,3.5,2017-12-27
2017-12-28,2017,12,28,-13.5,-8.6,0.9,0.9,2017-12-28
2017-12-29,2017,12,29,-17.4,-10.1,-2.7,2.4,2017-12-29
2017-12-30,2017,12,30,-5.5,-3.1,-2.5,2.3,2017-12-30
2017-12-31,2017,12,31,-18.7,-13.5,-5.5,0.2,2017-12-31

In [10]:
df = df.sort_index()
df = df.truncate(before=pd.Timestamp('1966-01-01'))
df

,Год,Месяц,День,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата
Дата,,,,,,,,
1966-01-01,1966,1,1,-7.6,-3.8,1.0,3.4,1966-01-01
1966-01-02,1966,1,2,-6.1,-2.8,0.8,7.4,1966-01-02
1966-01-03,1966,1,3,-5.7,-2.0,-0.1,0.9,1966-01-03
1966-01-04,1966,1,4,-17.4,-11.5,-0.1,2.0,1966-01-04
1966-01-05,1966,1,5,-19.2,-14.2,-6.1,0.6,1966-01-05
...,...,...,...,...,...,...,...,...
2017-12-27,2017,12,27,-4.7,-2.4,0.9,3.5,2017-12-27
2017-12-28,2017,12,28,-13.5,-8.6,0.9,0.9,2017-12-28
2017-12-29,2017,12,29,-17.4,-10.1,-2.7,2.4,2017-12-29
2017-12-30,2017,12,30,-5.5,-3.1,-2.5,2.3,2017-12-30
2017-12-31,2017,12,31,-18.7,-13.5,-5.5,0.2,2017-12-31

In [11]:
df['Размах температур'] = df['Максимальная температура воздуха'] - df['Минимиальная температура воздуха']
df

,Год,Месяц,День,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата,Размах температур
Дата,,,,,,,,,
1966-01-01,1966,1,1,-7.6,-3.8,1.0,3.4,1966-01-01,8.6
1966-01-02,1966,1,2,-6.1,-2.8,0.8,7.4,1966-01-02,6.9
1966-01-03,1966,1,3,-5.7,-2.0,-0.1,0.9,1966-01-03,5.6
1966-01-04,1966,1,4,-17.4,-11.5,-0.1,2.0,1966-01-04,17.3
1966-01-05,1966,1,5,-19.2,-14.2,-6.1,0.6,1966-01-05,13.1
...,...,...,...,...,...,...,...,...,...
2017-12-27,2017,12,27,-4.7,-2.4,0.9,3.5,2017-12-27,5.6
2017-12-28,2017,12,28,-13.5,-8.6,0.9,0.9,2017-12-28,14.4
2017-12-29,2017,12,29,-17.4,-10.1,-2.7,2.4,2017-12-29,14.7
2017-12-30,2017,12,30,-5.5,-3.1,-2.5,2.3,2017-12-30,3.0
2017-12-31,2017,12,31,-18.7,-13.5,-5.5,0.2,2017-12-31,13.2

In [12]:
df["Количество дней без осадков"] = 0
x = 0
for index, row in df.iterrows():
    if row["Количество осадков"] == 0:
        row["Количество дней без осадков"] += x
        x += 1
    else:
        x = 0
    df.loc[index, "Количество дней без осадков"] = row["Количество дней без осадков"]
    
df

,Год,Месяц,День,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата,Размах температур,Количество дней без осадков
Дата,,,,,,,,,,
1966-01-01,1966,1,1,-7.6,-3.8,1.0,3.4,1966-01-01,8.6,0
1966-01-02,1966,1,2,-6.1,-2.8,0.8,7.4,1966-01-02,6.9,0
1966-01-03,1966,1,3,-5.7,-2.0,-0.1,0.9,1966-01-03,5.6,0
1966-01-04,1966,1,4,-17.4,-11.5,-0.1,2.0,1966-01-04,17.3,0
1966-01-05,1966,1,5,-19.2,-14.2,-6.1,0.6,1966-01-05,13.1,0
...,...,...,...,...,...,...,...,...,...,...
2017-12-27,2017,12,27,-4.7,-2.4,0.9,3.5,2017-12-27,5.6,0
2017-12-28,2017,12,28,-13.5,-8.6,0.9,0.9,2017-12-28,14.4,0
2017-12-29,2017,12,29,-17.4,-10.1,-2.7,2.4,2017-12-29,14.7,0
2017-12-30,2017,12,30,-5.5,-3.1,-2.5,2.3,2017-12-30,3.0,0
2017-12-31,2017,12,31,-18.7,-13.5,-5.5,0.2,2017-12-31,13.2,0

In [13]:
maxPer = df[df["Количество дней без осадков"] == df["Количество дней без осадков"].max()][
    ["Дата", "Количество дней без осадков"]]

maxPer

                 Дата  Количество дней без осадков
Дата
1997-04-11 1997-04-11                           26

In [14]:
avrJune = df[df["Месяц"] == 6].groupby(["Год", "Месяц"])["Средняя температура воздуха"].mean()

avrJune

Год   Месяц
1966  6        17.616667
1967  6        16.783333
1968  6        16.300000
1969  6        17.906667
1970  6        17.163333
1971  6        16.180000
1972  6        17.756667
1973  6        18.763333
1974  6        17.913333
1975  6        16.493333
1976  6        20.346667
1977  6        19.446667
1978  6        17.933333
1979  6        18.936667
1980  6        17.976667
1981  6        20.606667
1982  6        19.863333
1983  6        18.740000
1984  6        17.690000
1985  6        15.156667
1986  6        15.673333
1987  6        14.850000
1988  6        16.823333
1989  6        15.840000
1990  6        18.700000
1991  6        19.013333
1992  6        15.426667
1993  6        17.726667
1994  6        20.770000
1995  6        14.946667
1996  6        17.433333
1997  6        17.270000
1998  6        18.066667
1999  6        16.363333
2000  6        18.500000
2001  6        18.483333
2002  6        17.616667
2003  6        19.893333
2004  6        19.423333
2005  6        18.913333
2006  6        20.850000
2007  6        15.956667
2008  6        18.356667
2009  6        14.506667
2010  6        18.020000
2011  6        20.156667
2012  6        22.080000
2013  6        15.816667
2014  6        18.033333
2015  6        19.586667
2016  6        19.556667
2017  6        19.820000
Name: Средняя температура воздуха, dtype: float64

In [15]:
maxJan = df[df["Месяц"] == 1].groupby(["Год", "Месяц"])["Максимальная температура воздуха"].max()

maxJan

Год   Месяц
1966  1         1.0
1967  1         0.5
1968  1        -1.7
1969  1       -12.8
1970  1        -3.1
1971  1        -2.1
1972  1         0.4
1973  1        -0.9
1974  1        -2.8
1975  1         2.3
1976  1        -1.4
1977  1        -8.0
1978  1        -2.3
1979  1         2.7
1980  1        -2.8
1981  1        -1.1
1982  1         0.0
1983  1         4.2
1984  1        -0.4
1985  1        -2.2
1986  1         1.4
1987  1         0.7
1988  1        -0.4
1989  1         1.0
1990  1        -0.9
1991  1         1.0
1992  1         1.1
1993  1         2.8
1994  1        -1.3
1995  1         0.2
1996  1        -2.3
1997  1         5.3
1998  1        -6.1
1999  1         1.4
2000  1        -4.6
2001  1         0.3
2002  1         3.8
2003  1         1.4
2004  1        -1.4
2005  1        -0.2
2006  1        -3.5
2007  1         3.5
2008  1        -9.5
2009  1        -3.4
2010  1        -5.6
2011  1        -1.2
2012  1        -5.1
2013  1         4.0
2014  1         3.0
2015  1         3.7
2016  1        -3.4
2017  1         0.5
Name: Максимальная температура воздуха, dtype: float64

In [16]:
df = df.drop('Год', axis=1)
df = df.drop('Месяц', axis=1)
df = df.drop('День', axis=1)

In [17]:
p1 = df[df["Средняя температура воздуха"] < -30]
p2 = df[(df["Средняя температура воздуха"] > 25) & (df["Количество дней без осадков"] > 3)]

In [18]:
p1

,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата,Размах температур,Количество дней без осадков
Дата,,,,,,,
1966-01-20,-33.3,-30.3,-24.6,0.0,1966-01-20,8.7,0
1966-02-18,-38.0,-33.2,-28.1,0.0,1966-02-18,9.9,0
1966-02-19,-38.5,-32.6,-24.6,0.0,1966-02-19,13.9,1
1966-11-05,-38.5,-34.6,-26.6,0.0,1966-11-05,11.9,0
1966-11-06,-34.6,-30.1,-23.4,0.0,1966-11-06,11.2,0
...,...,...,...,...,...,...,...
2014-02-04,-36.0,-30.2,-23.0,0.0,2014-02-04,13.0,1
2015-12-05,-37.5,-34.4,-29.0,0.0,2015-12-05,8.5,0
2015-12-06,-38.4,-34.2,-26.9,0.0,2015-12-06,11.5,0
2016-11-17,-36.0,-30.2,-22.1,0.0,2016-11-17,13.9,0
2016-11-19,-36.8,-30.7,-24.5,0.0,2016-11-19,12.3,2

In [19]:
p2

,Минимиальная температура воздуха,Средняя температура воздуха,Максимальная температура воздуха,Количество осадков,Дата,Размах температур,Количество дней без осадков
Дата,,,,,,,
1966-07-06,19.3,25.3,29.6,0.0,1966-07-06,10.3,5
1969-06-25,18.0,26.5,32.6,0.0,1969-06-25,14.6,8
1969-06-26,21.4,26.3,31.3,0.0,1969-06-26,9.9,9
1969-07-03,21.4,27.1,33.2,0.0,1969-07-03,11.8,4
1969-07-04,22.1,28.9,35.5,0.0,1969-07-04,13.4,5
...,...,...,...,...,...,...,...
2012-07-24,19.0,25.4,32.2,0.0,2012-07-24,13.2,14
2014-06-25,18.8,25.3,32.1,0.0,2014-06-25,13.3,15
2014-06-27,18.8,25.1,30.0,0.0,2014-06-27,11.2,17
2014-07-22,18.7,25.1,32.0,0.0,2014-07-22,13.3,4
2017-06-19,21.2,26.5,33.2,0.0,2017-06-19,12.0,7

In [20]:
df.to_excel('out.xlsx')