In [1]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split as tts
from sklearn.model_selection import GridSearchCV

In [2]:
df = pd.read_excel("Credit.xlsx")
df

,Сумма кредита,Стоимость кредита,Срок кредита,Дата кредитования,Цель кредитования,Количество,Возраст,Пол,Образование,Частная собственность,...,Срок работы на предприятии,Срок работы по специальности,Среднемес. доход,Среднемес. расход,Основное направление расходов,Количество иждевенцев,Гражданское состояние,Занятость супруга,Срок проживания в регионе,Давать кредит
0,7000,1400,6,2003-01-01,Иное,1,37,Жен,специальное,Нет,...,4,5,5000,1500,Покупка товаров длит. пользования,2,Нет,Нет,22,Да
1,7500,1500,6,2003-01-01,Иное,1,38,Муж,среднее,Да,...,3,8,4500,1000,Затраты на образование (в т.ч. детей),2,Нет,Нет,12,Да
2,14500,2900,12,2003-01-01,Покупка товара,1,60,Муж,высшее,Да,...,4,11,5000,1500,"Одежда, продукты питания и т.п.",3,Да,Нет,30,Нет
3,15000,3000,6,2003-01-01,Покупка товара,1,28,Муж,специальное,Нет,...,4,5,6000,1500,"Содержание/аренда недвижимости, а/т",1,Да,Да,21,Да
4,32000,6400,12,2003-01-01,Иное,1,59,Жен,специальное,Да,...,2,3,7500,2000,Затраты на образование (в т.ч. детей),3,Да,Да,29,Да
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,31000,6200,18,2003-01-12,Покупка и ремонт недвижимости,1,53,Муж,высшее,Нет,...,4,3,5500,1500,"Одежда, продукты питания и т.п.",2,Да,Да,26,Нет
145,34500,6900,24,2003-01-12,"Оплата услуг (мед., юрид. и т.п.)",1,23,Жен,специальное,Да,...,3,2,4500,1000,"Турпоездки, развлечения и т.п.",1,Да,Да,8,Нет
146,16000,3200,12,2003-01-12,Покупка товара,1,46,Муж,высшее,Да,...,3,7,4500,1000,"Турпоездки, развлечения и т.п.",2,Да,Да,25,Нет
147,19000,3800,12,2003-01-12,Покупка и ремонт недвижимости,1,35,Жен,высшее,Да,...,4,3,5000,1500,"Содержание/аренда недвижимости, а/т",0,Да,Да,23,Нет
148,17000,3400,12,2003-01-12,"Оплата услуг (мед., юрид. и т.п.)",1,36,Муж,специальное,Нет,...,4,4,5500,1000,Покупка и ремонт недвижимости,2,Да,Нет,10,Да

In [3]:
df = df.replace({"Да": 1, "Нет": 0})  # Бинарные на числовые
df = df.drop(['Количество', 'Дата кредитования'], axis=1)  # Значение параметра всегда одно и то же, дата не влияет
df

,Сумма кредита,Стоимость кредита,Срок кредита,Цель кредитования,Возраст,Пол,Образование,Частная собственность,Квартира,Площадь квартиры,...,Срок работы на предприятии,Срок работы по специальности,Среднемес. доход,Среднемес. расход,Основное направление расходов,Количество иждевенцев,Гражданское состояние,Занятость супруга,Срок проживания в регионе,Давать кредит
0,7000,1400,6,Иное,37,Жен,специальное,0,0,37,...,4,5,5000,1500,Покупка товаров длит. пользования,2,0,0,22,1
1,7500,1500,6,Иное,38,Муж,среднее,1,1,29,...,3,8,4500,1000,Затраты на образование (в т.ч. детей),2,0,0,12,1
2,14500,2900,12,Покупка товара,60,Муж,высшее,1,1,34,...,4,11,5000,1500,"Одежда, продукты питания и т.п.",3,1,0,30,0
3,15000,3000,6,Покупка товара,28,Муж,специальное,0,1,14,...,4,5,6000,1500,"Содержание/аренда недвижимости, а/т",1,1,1,21,1
4,32000,6400,12,Иное,59,Жен,специальное,1,0,53,...,2,3,7500,2000,Затраты на образование (в т.ч. детей),3,1,1,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,31000,6200,18,Покупка и ремонт недвижимости,53,Муж,высшее,0,0,20,...,4,3,5500,1500,"Одежда, продукты питания и т.п.",2,1,1,26,0
145,34500,6900,24,"Оплата услуг (мед., юрид. и т.п.)",23,Жен,специальное,1,1,62,...,3,2,4500,1000,"Турпоездки, развлечения и т.п.",1,1,1,8,0
146,16000,3200,12,Покупка товара,46,Муж,высшее,1,1,13,...,3,7,4500,1000,"Турпоездки, развлечения и т.п.",2,1,1,25,0
147,19000,3800,12,Покупка и ремонт недвижимости,35,Жен,высшее,1,1,32,...,4,3,5000,1500,"Содержание/аренда недвижимости, а/т",0,1,1,23,0
148,17000,3400,12,"Оплата услуг (мед., юрид. и т.п.)",36,Муж,специальное,0,1,42,...,4,4,5500,1000,Покупка и ремонт недвижимости,2,1,0,10,1

In [4]:
fact = {}
for col in [
            "Пол",
            "Расположение",
            "Должность",
            "Специализация",
           ]:
    df[col], fact[col] = pd.factorize(df[col])

In [5]:
df["Образование"] = df["Образование"].map({"среднее":0, "специальное": 1, "высшее":2})
df["Машина"] = df["Машина"].map({"Нет автомобиля":0, "отечественная": 1, "импортная":2})
df["Класс предприятия"] = df["Класс предприятия"].map({"малое":0, "среднее": 1, "крупное":2})

In [6]:
labels = LabelEncoder()
for col in ["Цель кредитования", "Способ приобретения собств.", "Отрасль предприятия", "Основное направление расходов"]:
    labels.fit(df[col])
    df[col] = labels.transform(df[col])
df

,Сумма кредита,Стоимость кредита,Срок кредита,Цель кредитования,Возраст,Пол,Образование,Частная собственность,Квартира,Площадь квартиры,...,Срок работы на предприятии,Срок работы по специальности,Среднемес. доход,Среднемес. расход,Основное направление расходов,Количество иждевенцев,Гражданское состояние,Занятость супруга,Срок проживания в регионе,Давать кредит
0,7000,1400,6,0,37,0,1,0,0,37,...,4,5,5000,1500,7,2,0,0,22,1
1,7500,1500,6,0,38,1,0,1,1,29,...,3,8,4500,1000,1,2,0,0,12,1
2,14500,2900,12,4,60,1,2,1,1,34,...,4,11,5000,1500,4,3,1,0,30,0
3,15000,3000,6,4,28,1,1,0,1,14,...,4,5,6000,1500,9,1,1,1,21,1
4,32000,6400,12,0,59,0,1,1,0,53,...,2,3,7500,2000,1,3,1,1,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,31000,6200,18,3,53,1,2,0,0,20,...,4,3,5500,1500,4,2,1,1,26,0
145,34500,6900,24,2,23,0,1,1,1,62,...,3,2,4500,1000,10,1,1,1,8,0
146,16000,3200,12,4,46,1,2,1,1,13,...,3,7,4500,1000,10,2,1,1,25,0
147,19000,3800,12,3,35,0,2,1,1,32,...,4,3,5000,1500,9,0,1,1,23,0
148,17000,3400,12,2,36,1,1,0,1,42,...,4,4,5500,1000,6,2,1,0,10,1

In [7]:
df  # Все переменные стали числовые

,Сумма кредита,Стоимость кредита,Срок кредита,Цель кредитования,Возраст,Пол,Образование,Частная собственность,Квартира,Площадь квартиры,...,Срок работы на предприятии,Срок работы по специальности,Среднемес. доход,Среднемес. расход,Основное направление расходов,Количество иждевенцев,Гражданское состояние,Занятость супруга,Срок проживания в регионе,Давать кредит
0,7000,1400,6,0,37,0,1,0,0,37,...,4,5,5000,1500,7,2,0,0,22,1
1,7500,1500,6,0,38,1,0,1,1,29,...,3,8,4500,1000,1,2,0,0,12,1
2,14500,2900,12,4,60,1,2,1,1,34,...,4,11,5000,1500,4,3,1,0,30,0
3,15000,3000,6,4,28,1,1,0,1,14,...,4,5,6000,1500,9,1,1,1,21,1
4,32000,6400,12,0,59,0,1,1,0,53,...,2,3,7500,2000,1,3,1,1,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,31000,6200,18,3,53,1,2,0,0,20,...,4,3,5500,1500,4,2,1,1,26,0
145,34500,6900,24,2,23,0,1,1,1,62,...,3,2,4500,1000,10,1,1,1,8,0
146,16000,3200,12,4,46,1,2,1,1,13,...,3,7,4500,1000,10,2,1,1,25,0
147,19000,3800,12,3,35,0,2,1,1,32,...,4,3,5000,1500,9,0,1,1,23,0
148,17000,3400,12,2,36,1,1,0,1,42,...,4,4,5500,1000,6,2,1,0,10,1

In [8]:
y = df["Давать кредит"]
x = df.drop("Давать кредит", axis=1)
x_train, x_test, y_train, y_test = tts(x, y, test_size=0.3, random_state=40)  # Разделяем выборку

In [9]:
tree_clf = DecisionTreeClassifier()
tree_clf.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [10]:
params = {
    "criterion" : ["gini", "entropy"],
    "max_depth" : [None, 1, 2, 3, 10]
}

# Поиск наилучших параметров делаем по точности(precision, полноте(recall) среднему гармоническому 
# precision и recall(f1), последний из которых является результирующим в подборе параметров
# Precision и recall не зависят, в отличие от accuracy, от соотношения классов и потому применимы в условиях несбалансированных выборок
# А f1 как гармноческое соотношение между ними, очевидно, хороший параметр, который следует улучшать

In [11]:
GridSCV = GridSearchCV(tree_clf, params, scoring= ['f1', 'precision', 'recall'], refit="f1", cv=10)
GridSCV.fit(x, y)

GridSearchCV(cv=10, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 1, 2, 3, 10]},
             pre_dispatch='2*n_jobs', refit='f1', return_train_score=False,
             scoring=['f1', 'precision', 'recall'], verbose=0)

In [12]:
GridSCV.best_score_

0.7152780552780553

In [13]:
f_imp = pd.DataFrame({"Признак": x.columns, "Информативность": GridSCV.best_estimator_.feature_importances_})
f_imp = f_imp[f_imp["Информативность"]>0.00].sort_values("Информативность", ascending=False)
f_imp

                         Признак  Информативность
2                   Срок кредита         0.324470
0                  Сумма кредита         0.136754
26             Среднемес. расход         0.120385
3              Цель кредитования         0.071907
25              Среднемес. доход         0.065229
31     Срок проживания в регионе         0.063109
24  Срок работы по специальности         0.060666
23    Срок работы на предприятии         0.040168
4                        Возраст         0.035244
19      Время работы предприятия         0.034410
9               Площадь квартиры         0.028569
17                         Гараж         0.019090

In [14]:
df_n = df.drop(f_imp['Признак'][f_imp['Информативность'] < 0.05], axis=1)  # Выбрасывем шумовые признаки

In [15]:
y = df_n["Давать кредит"]
x = df_n.drop("Давать кредит", axis=1)
x_train, x_test, y_train, y_test = tts(x, y, test_size=0.3, random_state=40)  # Разделяем выборку

tree_clf = DecisionTreeClassifier()
tree_clf.fit(x_train, y_train)  # Обучаем модель

GridSCV_n = GridSearchCV(tree_clf, params, scoring= ['f1', 'precision', 'recall'], refit="f1", cv=10)
GridSCV_n.fit(x, y)

GridSearchCV(cv=10, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 1, 2, 3, 10]},
             pre_dispatch='2*n_jobs', refit='f1', return_train_score=False,
             scoring=['f1', 'precision', 'recall'], verbose=0)

In [16]:
GridSCV_n.best_score_ - GridSCV.best_score_  
# Качество классификации улучшилось после исключения шумовых признаков, но не значительно

0.021864801864801886

Методы улучшения качества классификации дают прирост, но небольшой. В совокупности, при правильном применении этих методов, улучшение качества классификации может дать значительный результат